body {
  background-color: black;
  margin: 0;
  padding: 20px;
}
body footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: white;
  background-color: #000;
  border-top: 1px solid #fff;
}
body footer p {
  color: white;
  font-family: "Arial", sans-serif;
  text-align: justify;
  line-height: 2;
  margin: 10px 100px 50px 100px;
}
body footer .redes a {
  text-decoration: none !important;
}
body footer .redes img {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
}

body {
  backdrop-filter: blur(10px);
}
body header {
  text-align: center;
  padding: 3px 0;
  width: 100%;
}
body header h1 {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 5rem;
  font-style: normal;
  color: black;
  text-transform: uppercase;
  letter-spacing: -4px;
  transform: rotate(-3deg);
}
body nav {
  background-color: black;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: white 3px solid;
  position: sticky;
  top: 0px;
  z-index: 1000;
}
body nav .barra {
  display: flex;
  flex-direction: row;
  justify-content: Space-around;
  height: 100%;
  margin: 5px;
}
body nav .barra .nav-link {
  color: white;
  text-decoration: none;
  font-family: "castellar", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 20px;
  background-color: #f8f9fa;
  background-image: url("../img/063ebd2c1d20a2884068335830959a2b.jpg");
  background-repeat: repeat;
  background-size: 50px;
  background-attachment: fixed;
  margin: 0;
  padding: 20px;
}
body div .carousel-inner {
  max-width: 70rem;
  margin: 0 auto;
}
body div .carousel-inner .carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
body .contexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;
  margin: 75px 100px;
  background-color: #f8f9fa;
  border-radius: 20px;
}
body .contexto h2 {
  font-family: "castellar", sans-serif;
  text-align: center;
  margin: 50px 0 20px 0;
  font-weight: bold;
}
body .contexto p {
  font-family: "Arial", sans-serif;
  text-align: justify;
  line-height: 2;
  margin: 10px 100px 50px 100px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body .bibliografia {
  color: black;
  background-color: #f8f9fa;
  border-radius: 50px;
}
body .bibliografia .subtitulo {
  text-align: center;
  font-family: "Playwrite AU VIC Guides", cursive;
  font-weight: 400;
  font-style: normal;
  clear: both;
  padding-top: 40px;
}
body .bibliografia .textoconfoto {
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  display: flow-root;
}
body .bibliografia .textoconfoto .texto {
  flex: 1;
  font-family: "Arial", sans-serif;
  text-align: justify;
  line-height: 2;
  margin: 0;
}
body .bibliografia .textoconfoto img {
  margin-left: 30px;
  margin-bottom: 15px;
  float: right;
  flex-shrink: 0;
  height: auto;
  width: 300px;
  border-radius: 15px;
}
body .bibliografia p {
  font-family: "Arial", sans-serif;
  text-align: justify;
  line-height: 2;
  margin: 10px 100px 50px 100px;
}

body .albunes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}
body .albunes div .card-body {
  background-color: #218DA6;
  color: white !important;
}

body .titulodep {
  color: black;
  background-color: #f8f9fa;
  border-radius: 20px;
  margin-right: 1px;
  font-family: "castellar", sans-serif;
  text-align: center;
}
body .giras .backwt {
  backdrop-filter: blur(8px);
  border-radius: 30px;
  width: 100%;
  max-width: 70%;
  margin: 0 auto 30px;
}
body .giras .backwt .awt {
  color: aqua;
  margin-top: 20px;
}
body .giras .backwt .algodon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 10px;
}
body .giras .backwt .algodon .girasimg {
  width: 220px;
  height: 300px;
  border-radius: 10px;
  margin: 20px 0;
}
body .giras .backwt .qspswt {
  color: #FF62BB;
  text-align: right;
  margin-right: 50px;
}
body .giras .backwt .qsps {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 10px;
  gap: 5px;
  padding: 10px;
}
body .giras .backwt .qsps .girasimg {
  width: 220px;
  height: 300px;
  border-radius: 10px;
  margin: 20px 0;
}
body .giras .backwt .qsps img {
  border-radius: 10px;
  order: 1;
  flex-shrink: 0;
}
body .giras .backwt .qsps p {
  font-size: 16px;
  order: 2;
  line-height: 1.8;
  text-align: justify;
}
body .giras .backwt .mwt {
  color: brown;
}
body .giras .backwt .malcriado {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 10px;
}
body .giras .backwt .malcriado .girasimg {
  width: 220px;
  height: 300px;
  border-radius: 10px;
  margin: 20px 0;
}

body .contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
body .contacto .youtube {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #9B0F06;
  width: 50%;
  max-width: 750px;
  height: 100%;
}
body .contacto .youtube img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
}
body .contacto .youtube a {
  color: #000000;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
body .contacto .whatsapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #25D366;
  width: 50%;
  max-width: 750px;
  height: 100%;
}
body .contacto .whatsapp img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
}
body .contacto .whatsapp a {
  color: #000000;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
body .contacto .x {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #000000;
  width: 50%;
  max-width: 750px;
  height: 100%;
}
body .contacto .x img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
}
body .contacto .x a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
body .contacto .instagram {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #7C39BF;
  width: 50%;
  max-width: 750px;
  height: 100%;
}
body .contacto .instagram img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
}
body .contacto .instagram a {
  color: black;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
body .contacto .spotify {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #0D0A0A;
  width: 50%;
  max-width: 750px;
  height: 100%;
}
body .contacto .spotify img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
}
body .contacto .spotify a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
body div .card-body {
  background-color: #57595B;
}

body .premioslasso ul h2 {
  color: black;
  text-align: center;
  margin: 50px 0 20px 0;
}
body .premioslasso ul .pepsi {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 21px 10px;
}
body .premioslasso ul .pepsi p {
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
  max-width: 400px;
  margin-top: 0;
  margin-bottom: 12px;
}
body .premioslasso ul .pepsi img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}
body .premioslasso ul .grammy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 21px 10px;
}
body .premioslasso ul .grammy p {
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
  max-width: 400px;
  margin-top: 0;
  margin-bottom: 12px;
}
body .premioslasso ul .grammy img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

p {
  color: black;
  font-family: "Arial", sans-serif;
  text-align: justify;
  line-height: 2;
  margin: 10px 100px 50px 100px;
}

h2 {
  font-family: "Sedgwick Ave Display", cursive;
}

html {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
