body{
    background-color: black;
    margin: 0;
    padding: 20px;
}

h1{
    text-align: center;
    color: white;
    font-family: 'castellar', sans-serif;
    margin: 30px 0;
    font-size: 100px
}

.imagenesdeinicio{
    display: block;
    border-radius: 10px;
    margin: 40px auto;
    max-width: 100%;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-family: 'castellar', sans-serif;
    font-size: 18px;
}

nav{
    background-color: black;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: white 3px solid;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.barra{
    display: flex;
    flex-direction: row;
    justify-content: Space-around;
    height: 100%;
    margin: 5px;
}

.contexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 75px 100px;
}

p{
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: justify;
    line-height: 2.0;
    margin: 10px 100px 50px 100px;
}

.imagenescollage{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

footer{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: white;
  background-color: #000;
  border-top: 1px solid #fff;
}

.redes img{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
}

.imagenes{
    flex-grow: 1;
    flex-basis: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

h2{
    color: white;
    font-family: 'castellar', sans-serif;
    text-align: center;
    margin: 50px 0 20px 0;
}