body{
    background-color: black;
    margin: 0;
    padding: 20px;
    footer{
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        color: white;
        background-color: #000;
        border-top: 1px solid #fff;
            @media (max-width: 390px) {
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                padding: 20px 15px;
                }
        p{
            color: white;
            font-family: 'Arial', sans-serif;
            text-align: justify;
            line-height: 2.0;
            margin: 10px 100px 50px 100px;
            @media (max-width: 390px) {
                margin: 0;
                text-align: center;
                line-height: 1.4;
                font-size: 14px;
      }
        }
        .redes{
            a {
                text-decoration: none !important;
            }
            img{
                width: 40px;
                height: 40px;
                margin: 10px;
                border-radius: 50%;
                @media (max-width: 390px) {
                    margin: 5px;
                    }
            }
        }
    }
}