p{
  color: black;
  font-family: 'Arial', sans-serif;
  text-align: justify;
  line-height: 2.0;
  margin: 10px 100px 50px 100px;
  @media (max-width: 390px) {
    text-align: left;
    width: 95%;
  }
  @media (max-width: 768px) {
    width: 65%;
    font-size: 15px;
    line-height: 1.6;
    }
}

h2{
font-family: "Sedgwick Ave Display", cursive;
}

html {
  height: 100%;
}