p{
color: black;
font-family: 'Arial', sans-serif;
text-align: justify;
line-height: 2.0;
margin: 10px 100px 50px 100px;
}

h2{
font-family: "Sedgwick Ave Display", cursive;
}

html {
  height: 100%;
}