body{
    .bibliografia{
    color: white !important;
        .subtitulo{
        color: white !important;
        }
        p{
            color: white !important;
            font-family: 'Arial', sans-serif;
            text-align: justify;
            line-height: 2.0;
            margin: 10px 100px 50px 100px;
            }
    }
}