body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    .bibliografia{
        color: black;
        background-color: #f8f9fa;
        border-radius: 50px;
        @media (max-width: 390px) {
            border-radius: 20px;
        }
        .subtitulo{
            text-align: center;
            font-family: "Playwrite AU VIC Guides", cursive;
            font-weight: 400;
            font-style: normal;
            clear: both;
            padding-top: 40px;
        }
        .textoconfoto{
            padding: 0 100px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 40px;
            display: flow-root;
            @media (max-width: 390px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 15px;
                gap: 20px;
            }
            .texto{
                flex: 1;
                font-family: 'Arial', sans-serif;
                text-align: justify;
                line-height: 2.0;
                margin: 0;
            }
            img{
                margin-left: 30px;
                margin-bottom: 15px;
                float: right;
                flex-shrink: 0;
                height: auto;
                width: 300px;
                border-radius: 15px;
                @media (max-width: 390px) {
                    float: none;
                    margin: 15px auto;
                    width: 260px;
                }
            }
        }
        p{
            font-family: 'Arial', sans-serif;
            text-align: justify;
            line-height: 2.0;
            margin: 10px 100px 50px 100px;
            @media (max-width: 390px) {
                margin: 10px 15px 30px 15px; // Chau 100px matadores
                line-height: 1.6;
            }
        }
    }
}