body{
    .titulodep{
        color: black;
        background-color: #f8f9fa;
        border-radius: 20px;
        margin-right: 1px;
        font-family: 'castellar', sans-serif;
        text-align: center;
    }
    .giras{
        .backwt{
            backdrop-filter: blur(8px);
            border-radius: 30px;width: 100%;
            max-width: 70%;
            margin: 0 auto 30px;
            .awt{
                color: aqua;
                margin-top: 20px;
            }
            .algodon{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 25px 10px;
                .girasimg{
                    width: 220px;
                    height: 300px;
                    border-radius: 10px;
                    margin: 20px 0;
                    }
            }
            .qspswt{
                    color: #FF62BB;
                    text-align: right;
                    margin-right: 50px;
            }
            .qsps{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 25px 10px;
                gap: 5px;
                padding: 10px;
                .girasimg{
                    width: 220px;
                    height: 300px;
                    border-radius: 10px;
                    margin: 20px 0;
                }
                img{
                    border-radius: 10px;
                    order: 1;
                    flex-shrink: 0;
                }
                p{
                    font-size: 16px;
                    order: 2;
                    line-height: 1.8;
                    text-align: justify;
                    }
            }
            .mwt{
                color: brown;
            }
            .malcriado{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 25px 10px;
            .girasimg{
                width: 220px;
                height: 300px;
                border-radius: 10px;
                margin: 20px 0;
            }
        }
        }
    }
}